$pink : #cf1a3f;
$white : #FFF;
$black :#000;
$light-grey: #eee;
$blue-fm : #0092d6;

body {
	color: $black;
}

.bg-pink {
	background-color : $pink;
	color: #fff;
}


// colors gallery project
.project {
	.bg-color,
	.bg-pink {
		float: left;
		width: 100%;
	}
}

.gallery-fm .bg-color {
	background-color : $blue-fm;
	color: #fff; 
}

.gallery-opinel .bg-color {
	background-color : $blue-fm;
	color: #fff; 
}

.pink {
	color: $pink!important;
}

// fonts 

$cursive :'Indie Flower', cursive;
$serif : 'Lora', serif;
$sans-serif : 'Nunito Sans', sans-serif;
$title : 'Nunito Sans', sans-serif; 

body {
	font-family: $sans-serif;
}

h1, .h1 {
	font-family: $title;
	font-weight: 900;
	font-size: 3em;
	margin-bottom:40px;
	letter-spacing: -2px;
}

h2, .h2 {
	//font-family: $cursive;//
}

h3 {
	font-family: $serif;
	font-style: italic;
}

.cursive {
	font-family: $cursive;
}

.tips {
	font-family: $cursive;
	padding-right: 15px;
	font-size: 0.8em;

	ul {
		padding-left: 0;
	}

	ul li { 
		list-style: none;
	}
}

a.btn {
	font-family: $serif;
	text-decoration: underline;
	font-style: italic;
	font-size: .75em;
}

@media(max-width: 767px) {
	h1, .h1 {
		font-size: 2em;
	}

	h2, .h2 {
		font-size: 1.5em;
	}
}

// project 
.project {
	>.container {
		margin-bottom: 40px;
	}
	h3.desc {
		font-size: 1em;
		margin-bottom: 10px;
		line-height: 1.5;
	}

	.info {
		font-family: $serif;
		font-style: italic;
		font-size:.6em;
		margin-bottom: 0;
	}

	a.link {
		display: inline-block;
		margin-top:40px;
	}
}

// HP 
.home {
		a {
			color: $black;
		}

}

//footer 
footer {
	background-color: $light-grey;
	text-align: center;
	padding: 15px;
	font-size: 0.6em;

	p {
		margin-bottom: 0;
	}
} 



