.clear {
	clear: both;
	display: block;
}

body {
	overflow-x: hidden; 
}


//layout gallerie XL

@media(min-width:1440px) {
	.container {
		width: 1400px;
	}
	.col-xl-2,
	.col-xl-4,
	.col-xl-6,
	.col-xl-8 {
		float:left;
	}
	.col-xl-2 {
		width:20%;
	}

	.col-xl-4 {
		width:40%;
	}

	.col-xl-6 {
		width:60%;
	}

	.col-xl-8 {
		width:80%;
	}

	.visible-xl {
		display: block;
	}

	.hidden-xl {
		display: none;
	}
} 

@media (max-width:1439px) {
	.visible-xl {
		display: none;
	}
}

.project + .project {
	margin-top: 100px;
}

// gallery 
.gallery {

	.col-md-4 {
		position: absolute;
		top: 50%;
		margin-top:-100px;
		right:-10px;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding: 0;
	}

	> div  {
		//padding: 0.5px!important;
		position: relative;
	}

	> div:after {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 1px;
		background: #fff;
	}

	> div:before {
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 100%;
		background: #fff;
	}

	.container-gallery .bg-pink {
		display:flex;
		align-items:center;
	}
}

@media(max-width:767px) {
	.gallery {

		.col-md-4 {
			position: inherit;
			margin-top:0px;

			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
		.container-gallery .bg-pink {
			display: block;
		}

		.tips {
			margin: 40px 20px;
		}
	}
}

//gallery mobile landscape 
@media (min-width: 500px) and (max-width:767px) {
	.gallery {
		.col-xs-12 {
			width: 50%;
		}
	}
}

// nav project 
.nav-project {
	margin: 40px 0;
	float: left;
	width: 100%;

	h3 {
		font-size: 0.8em;
			a {
				color: $black;
				text-decoration: underline;
			}
	}
	.prev h3:before {
		content: "";
		float: left;
		width: 15px;
		height: 20px;
		background: url("../img/back.svg") center center no-repeat;
		margin-right: 20px;
	}

	.next h3:after {
		content: "";
		float: right;
		width: 15px;
		height: 20px;
		background: url("../img/next.svg") center center no-repeat;
		margin-left: 20px;
	}
	.next {
		text-align: right;
	}
}


// header

header {
	padding-left: 5%;
	padding-right: 5%;

	a:hover, 
	a:active, 
	a:focus {
		text-decoration: none;
	}
	h2 {
		font-size: 1.20em; 
		margin: 0;

		a {
			color: $black;
		}

		span {
			letter-spacing: 5px;
		}
	}
}

.container.header {
	position: relative;
}

.navbar {
	margin-bottom: 50px;
	padding-top: 50px;
}

@media(max-width: 767px) {
	header {
		padding-left: 15px;
		padding-right:15px;

		h2 {
		}
	}
}

// content 
.content {
	
}

// HP 
.home {
	.content {
		position: absolute;
		top: 50%;
		margin-top: -80px;
		left: 0;
		right: 0;
	}

	h1 {
		a {
			position: relative;
			display: inline-block;
			margin-bottom: 10px;
		}
		a:hover {
			text-decoration: none;
		}

		a:hover:after {
			content: "";
			position:absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			width: 100%;
			height: 8px;
			background: url(../img/dotted.svg) repeat-x;
		}

	}
}


// breadcrumb 
.breadcrumb {
	font-size: .65em;
	text-align: center;
	margin-bottom: 0;
	padding-top: 8px;

	h1 {
		font-family: $sans-serif;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 15.6px; 
		letter-spacing: 0;
		display: inline;
	}
	
	h1:after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background: url("../img/next.svg") center center no-repeat;
		margin-left: 5px;	
		margin-right: 15px;

	}

	ul {
		padding-left: 0;
		display: inline;
	}

	li {
		list-style: none;
		display: inline;
	}

	li+li:before {
		content: "/";
		color: $pink;
	}
}

@media(max-width:989px) {
	.breadcrumb {
		text-align: left;
		line-height: 1.4;
		padding-right: 50px;
	}
}

// Profil 
.profil {
	h1 {
		margin-bottom: 0;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 50px;
	}
}

.contact {
	padding-left: 0;
	font-size: 0.75em; 
	float: left; 
	width: 100%;
	margin-bottom: 40px;

	li {
		display: inline;
		float: left;
		list-style: none;
		margin-right:30px;
		margin-bottom: 15px;

		a {
			color: $black;
		}
	}

	li:before {
		content: "";
		float: left;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin-top: -5px;
		background: $pink;
		margin-right: 10px;
	}

	li:first-child:before {
		background: url(../img/mail.svg) center center no-repeat $pink;
		background-size: 55%;
	}

	li:nth-child(2):before {
		background: url(../img/linkedin.svg) center center no-repeat $pink;
		background-size: 55%;
	}

	li:last-child:before {
		background: url(../img/phone.svg) center center no-repeat $pink;
		background-size: 55%;
	}
}

// profil experience 
.profil {
	h3 {
		font-family: $title;
		font-style: normal;
		margin-top: 0;
		font-size: 1.25em;
	}

	.date {
		font-family: $sans-serif;
		font-size: 0.75em;
	}

	.description {
		font-family: $serif;
		font-size: 0.75em;
		font-style: italic;
	}
	.experience {
		margin-top: 40px;
		margin-bottom: 20px;
		float: left;
		width: 100%;

		h3:before {
			content: "";
			width: 70px;
			height: 70px;
			border-radius: 50%;
			display: block;
			margin: auto;
			margin-bottom: 20px;
			background: $pink;
		}
	}

	.experience.voyage {
		h3:before {
			background: url(../img/plane.svg) center center no-repeat $pink;
			background-size: 55%;
		}
	}

	.experience.travelgram {
		h3:before {
			background: url(../img/travelgram.svg) center center no-repeat #fc6d4b;
			background-size: 55%;
		}
	}

	.experience.lba {
		h3:before {
			background: url(../img/lba.png) center center no-repeat #e52525;
			background-size: 55%;
		}
	}

	.experience.orthodidacte {
		h3:before {
			background: url(../img/orthodidacte.png) center center no-repeat, linear-gradient(to right, #99ca3c 0%,#009bdf 100%);
		}

		//background: -moz-linear-gradient(left, #99ca3c 0%, #009bdf 100%); /* FF3.6-15 */
		//background: -webkit-linear-gradient(left, #99ca3c 0%,#009bdf 100%); /* Chrome10-25,Safari5.1-6 */
		//background: linear-gradient(to right, #99ca3c 0%,#009bdf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}

	.experience.ookapi {
		h3:before {
			background: url(../img/ookapi.svg) center center no-repeat #f06625;
			background-size: 55%;
		}
	}
}


// profil competences 

.competence {
	text-transform: uppercase;
	font-family: $title;
	text-align: center;
	font-size: 0.9em;
	margin-top: 60px;
	margin-bottom: 60px;

	> div {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	ul {
		padding-left:0;

		li {
			list-style: none;
			display: inline-block;
			width: 20px;
			height: 20px;
			background: url("../img/star.svg") center center no-repeat;
		}

		li.empty {
			opacity: 0.2
		}
	}
}

//profil formation 
.profil {
	.bg-pink {
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		margin-top: 50px;
	}

	.bg-pink:before,
	.bg-pink:after {
		content: "";
		width: 130%;
		height: 80px;
		position:absolute;
		top: -40px;
		left: 0;
		right: 0;
		transform: rotate(-1.5deg);
		background:$pink; 
	}

	.bg-pink:after {
		top: inherit;
		bottom:-40px;
	}

	.formation {
		margin-top: 40px;
		margin-bottom: 40px;
		float: left;
		width: 100%;
	}
}

.hobbit {
	font-family: $sans-serif;
	margin: 100px auto 50px;
}

.cv {
	margin-bottom: 50px;
}




