header {
  .burger {
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
    padding: 19px 30px 20px 10px;
    z-index: 10;

    span {
      cursor: pointer;
      height: 3px;
      width: 23px;
      background: $black;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }

    span:before {
      cursor: pointer;
      height: 3px;
      width: 23px;
      background: $black;
      position: absolute;
      display: block;
      content: '';
      top: -7px;
      transition: all 300ms ease-in-out;
    }

    span:after {
      cursor: pointer;
      height: 3px;
      width: 23px;
      background: $black;
      position: absolute;
      display: block;
      content: '';
      bottom: -7px;
      transition: all 300ms ease-in-out;
    }
  }

  .burger.open {
    span { 
      background-color: transparent; 
    }
    span:before {
      top: 0px;
      transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      bottom: 0;
      background: $white;
    }

    span:after {
      top: 0;
      transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      background: $white;
    }
  }
}

.mobmenu {
  position: fixed;
  right: -400px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 400px;
  height: 100%;
  background: $black;
  color: $white;
  z-index: 9;
  display: block;
  top: 0;
  padding: 40px;

    ul {
      padding-left: 0;
      margin-bottom: 0;
      position: absolute;
      top: 50%;
      margin-top: -177px;
      text-align: right;
    }

    li {
      list-style: none;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    a {
      color: $white;
      font-size: 1.25em;
      font-family: $title;
    }

    a:hover {
      opacity: .8;
    }

    .cursive {
      font-size: 0.65em;
      position: relative;
    }

    .cursive:after {
      content: "";
      position: absolute;
      right: -30px;
      top: -15px;
      width: 20px;
      height: 25px;
      background: url('../img/arrow.svg') center center no-repeat;
    }
}

.mobmenu.open {
  right: 0;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 50px 0px 50px rgba(0, 0, 0, 0.1);
  box-shadow: 50px 0px 50px rgba(0, 0, 0, 0.1); 
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media(max-width: 767px) {
  header {
      .burger {
        padding-top: 13px;
      }

      .mobmenu ul {
        right: 40px;
      }
    }
}